<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">

  <!-- Bootstrap core JavaScript -->
  <scirpt src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></scirpt>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">


  <!-- JQuery code -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  <!-- Custom JavaScript -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/toastr.js') }}"></script>
  <script src="{{ url_for('static', filename='js/progressbar.js') }}"></script>

  <!-- Custom styles -->
  <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/some.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/toastr.css') }}" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">
    <div class=" border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">MC Dashboard </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action ">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action ">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action ">Overview</a>
        <a href="#" class="list-group-item list-group-item-action ">Events</a>
        <a href="#" class="list-group-item list-group-item-action ">Profile</a>
        <a href="#" class="list-group-item list-group-item-action ">Status</a>
      </div>
    </div>


    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">
          Toggle Menu
        </button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid content">
        <div class="row circle-reports">
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">CPU Usage</div>
                    <div id="container" class="circle-report primary cpu"></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Memory Usage</div>
                    <div id="container" class="circle-report success ram"></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Disk Usage</div>
                    <div id="container" class="circle-report info disk"></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-dark shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">Players Online</div>
                    <div id="container" class="circle-report dark players"></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card log-console text-center">
          <div class="card-header">Server Log</div>
          <div class="card-body log overflow-auto">
            <span>[00:04:41] [Server thread/INFO]: MaxsName was blown up by Creeper</span><br>
            <span>[00:05:39] [User Authenticator #134/INFO]: UUID of player Pusheen__ is
              736243fa-7159-4562-9197-58ceaf6b9a17</span><br>
            <span>[00:05:39] [Server thread/INFO]: Pusheen__[/98.228.229.167:55753] logged in with entity id 364216 at
              (-121.34181663878283, 63.0, -319.4847503185605)</span><br>
            <span>[00:05:39] [Server thread/INFO]: Pusheen__ joined the game</span><br>
            <span>[00:05:48] [Server thread/INFO]: &lt;HockeyRat00&gt; ivan</span><br>
            <span>[00:05:52] [Server thread/INFO]: &lt;HockeyRat00&gt; are u at spawn</span><br>
            <span>[00:05:56] [Server thread/INFO]: &lt;Pusheen__ no&gt;</span><br>
            <span>[00:12:22] [Server thread/INFO]: FasterPilot has made the advancement [We Need to Go
              Deeper]</span><br>
            <span>[00:14:24] [Server thread/INFO]: MaxsName was shot by Skeleton</span><br>
            <span>[00:14:26] [Server thread/INFO]: Pusheen__ lost connection: Disconnected</span><br>
            <span>[00:14:26] [Server thread/INFO]: Pusheen__ left the game</span><br>
            <span>[00:15:35] [User Authenticator #135/INFO]: UUID of player Pusheen__ is
              736243fa-7159-4562-9197-58ceaf6b9a17</span><br>
            <span>[00:15:35] [Server thread/INFO]: Pusheen__[/98.228.229.167:55767] logged in with entity id 371074 at
              (-87.04091030278107, 64.0, -535.4326598696261)</span><br>
            <span>[00:15:35] [Server thread/INFO]: Pusheen__ joined the game</span><br>
            <span>[00:23:02] [Server thread/INFO]: MaxsName lost connection: Disconnected</span><br>
            <span>[00:23:02] [Server thread/INFO]: MaxsName left the game</span><br>
            <span>[00:26:37] [Server thread/INFO]: Pusheen__ fell from a high place</span><br>
            <span>[00:35:16] [Server thread/INFO]: Pusheen__ lost connection: Disconnected</span><br>
            <span>[00:04:41] [Server thread/INFO]: MaxsName was blown up by Creeper</span><br>
            <span>[00:05:39] [User Authenticator #134/INFO]: UUID of player Pusheen__ is
              736243fa-7159-4562-9197-58ceaf6b9a17</span><br>
            <span>[00:05:39] [Server thread/INFO]: Pusheen__[/98.228.229.167:55753] logged in with entity id 364216 at
              (-121.34181663878283, 63.0, -319.4847503185605)</span><br>
            <span>[00:05:39] [Server thread/INFO]: Pusheen__ joined the game</span><br>
            <span>[00:05:48] [Server thread/INFO]: &lt;HockeyRat00&gt; ivan</span><br>
            <span>[00:05:52] [Server thread/INFO]: &lt;HockeyRat00&gt; are u at spawn</span><br>
            <span>[00:05:56] [Server thread/INFO]: &lt;Pusheen__ no&gt;</span><br>
            <span>[00:12:22] [Server thread/INFO]: FasterPilot has made the advancement [We Need to Go
              Deeper]</span><br>
            <span>[00:14:24] [Server thread/INFO]: MaxsName was shot by Skeleton</span><br>
            <span>[00:14:26] [Server thread/INFO]: Pusheen__ lost connection: Disconnected</span><br>
            <span>[00:14:26] [Server thread/INFO]: Pusheen__ left the game</span><br>
            <span>[00:15:35] [User Authenticator #135/INFO]: UUID of player Pusheen__ is
              736243fa-7159-4562-9197-58ceaf6b9a17</span><br>
            <span>[00:15:35] [Server thread/INFO]: Pusheen__[/98.228.229.167:55767] logged in with entity id 371074 at
              (-87.04091030278107, 64.0, -535.4326598696261)</span><br>
            <span>[00:15:35] [Server thread/INFO]: Pusheen__ joined the game</span><br>
            <span>[00:23:02] [Server thread/INFO]: MaxsName lost connection: Disconnected</span><br>
            <span>[00:23:02] [Server thread/INFO]: MaxsName left the game</span><br>
            <span>[00:26:37] [Server thread/INFO]: Pusheen__ fell from a high place</span><br>
            <span>[00:35:16] [Server thread/INFO]: Pusheen__ lost connection: Disconnected</span><br>
            <span>[00:04:41] [Server thread/INFO]: MaxsName was blown up by Creeper</span><br>
            <span>[00:05:39] [User Authenticator #134/INFO]: UUID of player Pusheen__ is
              736243fa-7159-4562-9197-58ceaf6b9a17</span><br>
            <span>[00:05:39] [Server thread/INFO]: Pusheen__[/98.228.229.167:55753] logged in with entity id 364216 at
              (-121.34181663878283, 63.0, -319.4847503185605)</span><br>
            <span>[00:05:39] [Server thread/INFO]: Pusheen__ joined the game</span><br>
            <span>[00:05:48] [Server thread/INFO]: &lt;HockeyRat00&gt; ivan</span><br>
            <span>[00:05:52] [Server thread/INFO]: &lt;HockeyRat00&gt; are u at spawn</span><br>
            <span>[00:05:56] [Server thread/INFO]: &lt;Pusheen__ no&gt;</span><br>
            <span>[00:12:22] [Server thread/INFO]: FasterPilot has made the advancement [We Need to Go
              Deeper]</span><br>
            <span>[00:14:24] [Server thread/INFO]: MaxsName was shot by Skeleton</span><br>
            <span>[00:14:26] [Server thread/INFO]: Pusheen__ lost connection: Disconnected</span><br>
            <span>[00:14:26] [Server thread/INFO]: Pusheen__ left the game</span><br>
            <span>[00:15:35] [User Authenticator #135/INFO]: UUID of player Pusheen__ is
              736243fa-7159-4562-9197-58ceaf6b9a17</span><br>
            <span>[00:15:35] [Server thread/INFO]: Pusheen__[/98.228.229.167:55767] logged in with entity id 371074 at
              (-87.04091030278107, 64.0, -535.4326598696261)</span><br>
            <span>[00:15:35] [Server thread/INFO]: Pusheen__ joined the game</span><br>
            <span>[00:23:02] [Server thread/INFO]: MaxsName lost connection: Disconnected</span><br>
            <span>[00:23:02] [Server thread/INFO]: MaxsName left the game</span><br>
            <span>[00:26:37] [Server thread/INFO]: Pusheen__ fell from a high place</span><br>
            <span>[00:35:16] [Server thread/INFO]: Pusheen__ lost connection: Disconnected</span><br><br>
          </div>
          <form>
            <div class="input-group">
              <input id="command-input" type="text" class="form-control" placeholder="Command">
            </div>
          </form>
        </div>
        <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"><strong id="alert"></strong><span id="msg"></span></div>
        <div id="warningAlert" class="alert alert-warning" role="alert" style="display:none;"><strong id="alert"></strong><span id="msg"></span></div>
        <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"><strong id="alert"></strong><span id="msg"></span></div>
        <div class="card-body">
          <button id="testbutton">test</button>
          <button id="testbutton0">test</button>
          <button id="testbutton1">test</button>
          <button id="testbutton2">test</button>
          <button id="testbutton3">test</button>
          <button id="testbutton4">test</button>
          <button id="testbutton5">test</button>
          <button id="testbutton6">submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>